.display-ctn {
  width: 100%;
  height: 300px;
  overflow: hidden;
  display: flex;
  justify-content: center;
  padding-top: 60px;  
  gap: 5px;
}


.movie-card {
  margin-top: 5px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 0px;
  background-color: rgb(40, 39, 39);
  width: 250px;
  height: 200px;
  border-radius: 10px;
  padding-top: 4px;
  padding-bottom: 4px;
  overflow: hidden;
}

.movie-card:hover {
  background-color: rgb(80, 122, 122);
}

.movie-card img{
  width: 240px;
  height: 180px;
  object-fit: cover;
}

.movie-card .bottom {
  display: flex;
  flex-direction: row;
  gap: 10px;
  align-items: center;
}
