<nav class="navBar">
    <h2><button class="pulse" onclick="window.location.href='/'">Movies</button></h2>
    <h2><button class="pulse" onclick="window.location.href='/search'">Add</button></h2>
</nav>