<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<style>
    button{
        background: linear-gradient(135deg, #a8ff78 0%, #78ffd6 100%);
        color: #333;
        font-weight: 700;
        border: none;
        border-radius: 50px;
        padding: 10px;
    }
</style>
<body>
    <%- include('navbar') %>
    
</body>
</html>