<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <% include(navbar) %>
    
    <form method="POST">
        <fieldset>
            <label>
                First Name:
            </label>
            <input require name="firstname" placeholder="John"/> </br>
            <label>
                Last Name:
            </label>
            <input require name="lastname" placeholder="Doe"/> </br>
            <label>
                Email:
            </label>
            <input require name="email" placeholder="JohnDoe@gmail.com"/> </br>
            <label>
                Password:
            </label>
                <input requrie name="password"/> </br>
        </fieldset>
    </form>
</body>
</html>